* {
    margin :0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    padding: 20px 20px 20px 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-right: 20px;
}

.menu-items ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.btn {
    border: none;
    padding: 10px;
    background-color: black;
}

.btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.input-group .btn {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: #fff;
}

.input-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-group label {
    font-weight: 600;
    padding-bottom: 10px;
}

.main-card {
    
}

.input-group {
    display: flex;
    flex-direction: column;
}

#contact-form {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

#login_form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}


.contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.contacts-list table {
    width: 100%;
    border-collapse: collapse;
}

.contacts-list table thead {
    background-color: #000;
    color: #fff;
    width: 100%;
}

.contacts-list table thead th {
    padding: 10px;
}
.contacts-list table tbody {
    background-color: #fff;
    width: 100%;
}

.contacts-list table tbody tr td {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.contacts-list table tbody tr td a {
    text-decoration: none;
    color: #000;
}   

#new-user-form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}


.new-user-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btn-danger {
    color: red;
}

.btn-primary {
    color: blue;
}

@media screen and (max-width:800){
    .container {
        width: 100%;
    }

    .menu-items {
        flex-direction: column;
        align-items: center;
    }

    .menu-items ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-items ul li a {
        padding: 10px;
    }

    .btn {
        padding: 10px;
    }

    .input-group {
        flex-direction: column;
    }

    #contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        }

    #login_form {
        flex-direction: column;
    }
}